<#@ template language="C#"
#><#@ import namespace="_360Generator.Metadata"
#><#@ parameter name="module" type="_360Generator.Metadata.Module"
#><#@ parameter name="entity" type="System.String"
#>using _360.Domain.Core;
using System;
using System.Collections.Generic;

namespace _360.Domain.<#= module.ModuleName #>
{
    public class <#= entity #>
    {

	}
}
