<#@ template language="C#" #>
<#@ import namespace="_360Generator.Metadata" #>
<#@ parameter name="module" type="_360Generator.Metadata.Module"#>
<#@ parameter name="entity" type="System.String"#>
using _360.Api.Core.Models;
using _360.Framework.Api.Models;
using _360Generator.Templates;
using System;
using System.Collections.Generic;

namespace _360.Api.Model.<#= module.ModuleName #>
{
    public class <#= entity #>Dto : BaseDto
    {

	}
}
