@using P360.Localizations
<div class="baseview-detail">
    @Html.Partial("../../Views/Base/ViewTitle")
    <div id="securityAndItPolicyContentContainer">
        <div class="dashboard" id="SecurityAndItPolicyDashboard">
        </div>

	</div>
</div>

