

@using P360.Localizations
<div class="baseview-detail">
    @Html.Partial("../../Views/Base/ViewTitle")
    <div id="cyberDetectionProfileContentContainer">
        <div class="dashboard" id="CyberDetectionProfileDashboard">
        </div>

	</div>
</div>

