





@using P360.Localizations
<div class="baseview-detail">
    @Html.Partial("../../Views/Base/ViewTitle")
    <div id="zoneProfileContentContainer">
        <div class="dashboard" id="ZoneProfileDashboard">
        </div>

	</div>
</div>

