





@using P360.Localizations
<div class="baseview-detail">
    @Html.Partial("../../Views/Base/ViewTitle")
    <div id="updateZoneProfileContentContainer">
        @Html.Partial("~/Views/Base/ErrorSummary.cshtml")
        <div class='w-box white' id='GeneralContainer'>
            <div class='form-header'
                 ><h2>@Localization.General</h2>
            </div>
            <div class='form-body'>
                <form class='form-light view-edit'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='w-field'>
                               
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>   
</div>

